{% extends 'main_site/main.html' %}

{% from 'main_site/macros/_main_site_helpers.html' import article, inst_post %}
{% from 'main_site/macros/_form_helpers.html' import filter %}


{% block styles %}

    <link rel="stylesheet" href="{{ url_for('static', filename='main_site/css/style_pages_posts.css') }}">

{% endblock %}




{% block main %}

    <main>

        <div class="container">
            <div class="row">

                <div class="col-12 d-flex align-items-center justify-content-center">
                    <button type="button" data-bs-toggle="collapse" id="filter-btn" aria-controls="form"
                        class="btn btn-outline-danger mb-3 d-none w-100">Filters
                    </button>
                </div>

                <div class="col d-flex justify-content-center">

                    {{ filter(filters) }}

                </div>
            </div>
        </div>

        <div class="container mt-5">

            {{ article(title='title', content='text text text', account='acc') }}

            {{ inst_post(title='title', account='acc') }}

        </div>

    </main>

{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='main_site/javascript/filter.js') }}"></script>
{% endblock %}