{% macro create_post_form(form) %}

    <form method="POST" action="" enctype="multipart/form-data">

        {{ form.csrf_token }}
        <div class="mb-4">
            <label for="{{ form.caption.id }}" class="form-label">{{ form.caption.label.text }}</label>
            {{ form.caption }}
        </div>
        <div class="mb-3">
            <label for="{{ form.image.id }}" class="form-label">{{ form.image.label.text }}</label>
            {{ form.image }}
        </div>
        <div class="buttons">
            <a href="{{ url_for('instagram.home') }}">Cancel</a>
            {{ form.submit }}
        </div>
    </form>

{% endmacro %}