body{
    background: #151515;
}

main{
    margin-top: 100px;
    color: white;
}

footer{
    display: none;
}

.move-b{
    margin-top:1rem;
}

.pad-card{
    padding: 0 20%;
}

@media (max-width: 991px){

    .pad-card{
        padding-left: calc(var(--bs-gutter-x)/ 2);
        padding-right: calc(var(--bs-gutter-x)/ 2);
    }

}