body{
    background: #151515;
}

main{
    margin-top: 100px;
    color: white;
}

footer{
    display: none;
}

.move-b{
    margin-top:1rem;
}

.pad-card{
    padding: 0 20%;
}

.marker{
    background-color: yellow;
    color: black;
}

.card-body blockquote{
    padding-left: 20px;
    padding-right: 8px;
    border: 0 solid #ccc;
    border-left-width: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

.card-header{
    position: relative;
}

.btn-contr{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0, -50%);
}

@media (max-width: 991px){

    .pad-card{
        padding-left: calc(var(--bs-gutter-x)/ 2);
        padding-right: calc(var(--bs-gutter-x)/ 2);
    }

}