::-webkit-scrollbar {
     width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
    transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #555;
}


header{
    display: none!important;
}

main{
    margin: 0;
    display: flex;
    flex-direction: row;
}

.main-light{
    background: #d0d0d0;
}

.main-dark{
    background: #101014;
}

.block-style{
    width: 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.block-light{
    background: #ececec;
}

.block-dark{
    background: #1b1d22;
}

.prf-btn{
    padding: 3% 20%;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 8%;
    border-bottom: 1px solid var(--color-border-bottom);
}

.first-sec img{
    border-radius: 100%;
    height: 110px;
    margin-top: 8%;
    margin-bottom: 5%;
}

.bio-acc{
    color: var(--font-c-grey);
    margin: 0;
}

.profile-view{
    height: 100vh;
    overflow-y: scroll;
    width: 500px;
    box-shadow: none;
}

.profile-stats{
    margin-bottom: 7%;
}

.follow-btn{
    color: white;
    background: linear-gradient(90deg, #b200ff, blue)!important;
    box-shadow: 0 2px 20px #4500ff;
    width: 80%;
}

.follow-btn:hover{
    background: linear-gradient(90deg, #c341fb, #2b2bf9)!important;
    box-shadow: 0 5px 20px #5b1ffd;
}

.profile-stats div{
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-stats h5{
    margin: 0;
}

.profile-stats p{
    font-size: 14px;
    color: var(--font-c-grey);
}

.profile-stats button{
    margin: 5px;
    text-align: center;
    background: transparent;
    border-radius: 17px;
    border: none;
    padding: 10px;
    transition: 0.3s;
}

.profile-stats div button:nth-child(1){
    padding: 10px 25px;
}

.profile-stats div button:nth-child(2){
    padding: 10px 10.5px;
}

.profile-stats button:hover{
    background: var(--color-bdn);
}

.profile-stats button p{
    margin: 0;
}

.for-acc, .nav-links{
    border-bottom: 1px solid var(--color-border-bottom);
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.nav-links{
    padding-top: 5%;
}

.logout{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}


.profile-links{
    margin: 5%;
}

.profile-links a{
    text-decoration: none;
    color: var(--font-c-grey);
    padding: 5px 20px;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: 0.2s;
}

.icon-l{
    text-align: center;
    font-size: 20px;
    margin-right: 20px;
    width: 22px;
}

.profile-links a:hover{
    background: #0044de26;
    border: 1px solid #4343ff;
}

.posts{
    padding: 2%;
    height: 100vh;
    overflow-y: scroll;
}

.posts-img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
}

.post-container{
    position: relative;
}

.post-container p{
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    font-size: 25px;
    opacity: 0;
    transition: 0.5s;
}

.l-p{
    left: 30% !important;
}

.r-p{
    right: 30% !important;
}

.post-container span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: black;
    transition: 0.5s;
    opacity: 0;
}

.post-container:hover span{
    opacity: 0.6;
}

.post-container:hover p{
    opacity: 1;
}

.post-r{
    margin-top: calc(var(--bs-gutter-x)/ 2);
    margin-bottom: calc(var(--bs-gutter-x));
}

.no-posts{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

@media (max-width: 1250px) {
    .post-container p{
        font-size: 20px;
    }

    .l-p{
        left: 20%!important;
    }

    .r-p{
        right: 20%!important;
    }
}

@media (max-width: 899px) {

    header{
        display: block!important;
    }

    main{
        height: 100%;
        margin-top: 78px;
        flex-direction: column;
    }

    .post-container p{
        display: none;
    }

    .posts{
        height: 100%;
        overflow-y: unset;
    }

    .profile-links{
        display: none;
    }

    .profile-view{
        height: 100vh;
        width: auto;
        overflow: unset;
    }

    .profile{
        border: none;
    }

    .block-style{
        padding-top: 30px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 17px;
    }
}


@media (max-width: 500px) {

    .post-r{
        margin-top: 0;
        margin-bottom: 4px;
    }

    .post-r .col-4{
        padding-right: 2px;
        padding-left: 2px;
    }

    .posts-img{
        border-radius: 7px;
    }

}