@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}

header{
    z-index: 10;
}

main{
    margin: 0;
}

body{
    background-color: #0a0a0a;
}

#blade-red .color-vis{
    background: red;
}

#blade-blue .color-vis{
    background: #0066ff;
}

#blade-cyan .color-vis{
    background: #00ffff;
}

#blade-green .color-vis{
    background: #00c200;
}

#blade-purple .color-vis{
    background: #8400ff;
}

#blade-yellow .color-vis{
    background: #ffc400;
}

#box-help, .col-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-help-btn{
    font-size: 20px;
    padding: 5px 30px;
    margin: 20px 0;
    border-radius: 50px;
    transition: 0.2s;
    background: transparent;
    border: 1px solid rgba(224, 224, 224, 0.7);
}

.close-help-btn:hover{
    background: #9494943a;
}

#controls-act-zone, .saber-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
}

.saber-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 20vh;
}

.main-ct-btn{
    color: white;
    border: 1px solid #8f8f8fc0;
    border-radius: 50px;
    margin: 5px;
    padding: 10px 15px;
    transition: 0.3s;
    background: transparent;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.main-ct-btn:hover{
    background-color: #ffffff4c;
}

.control-btn-active{
    background-color: #ffffff;
    color: black;
}

.control-btn-active:hover{
    background-color: #c9c9c9;
}

.control-btn-disabled{
    opacity: 0;
}

.settings{
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}

.settings button{
    background: transparent;
    padding: 8px 20px;
    transition: 0.3s;
    border: none;
    border-right: 1px solid #8f8f8fc0;
}

.settings button:last-child{
    border-right: none;
}

.setting-selected{
    background-color: white;
}

.setting-selected, .settings button:active{
    background-color: #c9c9c9!important;
    color: black;
    font-weight: bold;
}

.settings button:hover{
    background-color: #b6b6b63d;
}

.set-box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: #00000059;
}

.set-box h3{
    text-transform: capitalize;
    margin-bottom: 40px;
    text-align: center;
    border-top: 1px solid #ffffff38;
    padding-top: 20px;
}

#box-color-blade h3{
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.colors-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.color-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 70px;
    width: 58px;
    cursor: pointer;
}

.color-box:hover .color-vis{
    border: 2px solid rgba(255, 255, 255, 0.52);
}

.color-box-active .color-vis{
    border: 2px solid white;
}

.color-vis{
    padding: 9px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid transparent;
}

.color-box p{
    margin: 0;
}

.intro-text{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.intro-text h1, .description, .css-lightsaber, #css-hilt{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

.css-lightsaber{
    top: 43%;
    height: 3%;
    width: 100vw;
}

.css-lightsaber div{
    position: relative;
    height: 100%;
}

#intro{
    transition: 1s background-color;
}

#css-hilt{
    top: 0;
    height: 100%;
    width: 20%;
    border-radius: 20px;
    box-shadow: 0 0 20px #fd3f3f;
    background-color: #0a0a0a;
    z-index: 10;
}

#css-saber{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 50%;
    width: 80%;
    border-radius: 50px;
    background: #ffcccc;
    z-index: 5;
    box-shadow: 0 0 20px #ff2727, 0 0 50px #ff5959;
    transition: 1s cubic-bezier(0.5, 0.12, 0.4, 0.94);
}

.description{
    padding: 20px;
    top: 55%;
    width: 90%;
}

#continue{
    background: transparent;
    border: 2px solid #dadada;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 500;
    transition: 0.2s;
}

#continue:hover{
    background: #dadada;
    color: black;
}

.prep-panel{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #0a0a0a;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load-progress{
    margin-top: 10px;
    width: 20%;
    height: 5px;
    border-radius: 5px;
    background: #1a1a1a;
}

.load-progress div{
    height: 100%;
    width: 0;
    background: #808080;
    border-radius: 5px;
}