<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/website_icon.ico') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='other/settings_style.css') }}">
    <title>Account settings</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">

            <div class="mb-4">
                <a href="{% if from_site == 'main' %} {{ url_for('mainSite.home') }} {% elif from_site == 'mprf' %} {{ url_for('instagram.my_profile') }} {% else %} {{ url_for('instagram.home') }} {% endif %}" class="btn btn-primary">Back</a>
            </div>

            <h1>Settings</h1>

            <div class="d-flex align-items-center mb-4">
                <h5 class="mb-0 me-2">E-mail:</h5>
                <p class="mb-0">email@infinity.com</p>
            </div>
            <div class="d-flex align-items-center mb-4">
                <h5 class="mb-0">Password</h5>
                <button class="btn btn-primary ms-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#change-pass" aria-expanded="false" aria-controls="change-pass">Change password
                </button>
            </div>

            <div id="change-pass" class="border border-secondary rounded-3 p-4 mb-4 collapse">
                <form>
                    <div class="mb-3">
                        <label for="inputPassword1" class="form-label">Current password</label>
                        <input type="password" class="form-control" id="inputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="inputPasswordnew" class="form-label">New password</label>
                        <input type="password" class="form-control" id="inputPasswordnew">
                    </div>
                    <div class="mb-3">
                        <label for="inputPasswordnew1" class="form-label">Confirm new password</label>
                        <input type="password" class="form-control" id="inputPasswordnew1">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>

            <div class="border border-secondary rounded-3 p-4">
                <form>
                     <div class="mb-4">
                         <h5>Dark theme</h5>
                         <div class="form-check form-switch">
                             <input class="form-check-input" type="checkbox" id="dark-check">
                             <label class="form-check-label" for="dark-check">Dark theme</label>
                         </div>
                         <p>Dark theme will be applied only the instagram pages.</p>
                    </div>
                    <div class="mb-4">
                        <h5>Instagram profile</h5>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="private-profile-check">
                            <label class="form-check-label" for="private-profile-check">Private profile</label>
                        </div>
                        <p>When you are private your profile and posts will be only visible to users who have accounts.</p>
                    </div>
                    <div class="mb-4">
                        <h5>Instagram posts</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                   checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Show posts only in the instagram page
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Show posts in the main site and instagram
                            </label>
                        </div>
                    </div>
                    <div class="mb-4">
                        <h5>Text articles</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Make text articles invisible to non-account users
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>