<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chess Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='other/web_showcase/style_chess.css') }}">
</head>
<body>
    <table>
        <tbody>

            <tr class="start-white">
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/top.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/kon.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/oficer.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/car.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/carica.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/oficer.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/kon.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/top.png') }}"></td>
            </tr>

            <tr class="start-black">
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka.png') }}"></td>
            </tr>

            <tr class="start-white">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="start-black">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="start-white">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="start-black">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="start-white">
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/peshka2.png') }}"></td>
            </tr>

            <tr class="start-black">
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/top2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/kon2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/oficer2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/car2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/carica2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/oficer2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/kon2.png') }}"></td>
                <td><img src="{{ url_for('static', filename='other/web_showcase/img_chess/top2.png') }}"></td>
            </tr>

        </tbody>
    </table>
</body>
</html>