<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/website_icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Biryani:wght@400&family=Montserrat&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Biryani:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons/css_pro/pro.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_hub/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_hub/css/style_main.css') }}">
    <title>Infinity Web</title>
</head>
<body>

<header>
    <span id="back"></span>
    <span id="blur"></span>
    <div class="container first">
        <div class="row r1">
            <div class="col position-relative">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="custom-al alert alert-success d-flex align-items-center justify-content-center" role="alert">
                                <i class="fas fa-check-circle me-4" style="margin-right: 0.4rem"></i>
                                <div>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <h1 class="title">main hub</h1>
                {% if logged and current_user.set == True %}
                    <h3>Hello, {{ current_user.name }}!</h3>
                {% elif logged and current_user.set == False %}
                    <h3>Hello {{ current_user.email }}</h3>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="menu">
            <span class="menu2">
                <a href="{{ url_for('mainSite.home') }}">
                    <div class="sp">
                        <img src="{{ url_for('static', filename='main_hub/images/main_site.jpg') }}">
                        <i class="fal fa-globe-europe gradient fa-4x myic"></i>
                        <h4 class="h-menu">Main Site</h4>
                        <p>I don't know I really don't know</p>
                    </div>
                </a>

                <a href="{{ url_for('instagram.home') }}">
                    <div class="sp">
                        <img src="{{ url_for('static', filename='main_hub/images/instagram.jpg') }}">
                        <i class="fab fa-instagram gradient fa-4x myic"></i>
                        <h4 class="h-menu">Instagram</h4>
                        <p>Instagram but looks better</p>
                    </div>
                </a>
            </span>
        <span class="menu2">
                <a href="#">
                    <div class="sp">
                        <img src="{{ url_for('static', filename='main_hub/images/under_constr.jpg') }}">
                        <i class="far fa-ellipsis-h gradient fa-4x myic"></i>
                        <h4 class="h-menu">More</h4>
                        <p>under construction</p>
                    </div>
                </a>

                <a href="{% if logged %} {{ url_for('auth.logout') }} {% else %} {{ url_for('auth.login') }} {% endif %}">
                    <div class="sp">
                        <img src="{{ url_for('static', filename='main_hub/images/login.jpg') }}">
                        <i class="far {% if logged %}fa-sign-out{% else %}fa-sign-in{% endif %} gradient fa-4x myic"></i>
                        <h4 class="h-menu">{% if logged %}Sign out{% else %}Sign in{% endif %}</h4>
                        <p>dew it</p>
                    </div>
                </a>

            </span>
    </div>

    <a href="#bottom" class="p1"> Exit <i class="fas fa-angle-down"></i></a>
</header>

<main>
    <div class="container">
        <div class="row mb-5">
            <div class="d-flex justify-content-center col">
                <i class="fal fa-archway size-i"></i>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <h2 class="text-center">Lorem Ipsum</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="d-flex justify-content-center col">
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu metus
                    elit. Quisque pulvinar consequat nulla, pulvinar interdum mi hendrerit vitae. Aenean dignissim dui
                    mauris, vitae tempus dui cursus at. Fusce feugiat auctor neque, ut vestibulum diam tempor et. Aenean
                    semper lacus eget velit fermentum dictum. Maecenas malesuada sed odio eu tincidunt. Curabitur
                    accumsan vulputate arcu, vel tristique metus viverra eget.</p>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center col">
                <a href="https://www.google.com" id="bottom" class="exit">
                    <span></span>
                    exit
                </a>
            </div>
        </div>
    </div>
</main>

<footer>
    <p class="copyright">Infinity Web</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='main_hub/java/script.js') }}"></script>
</body>
</html>