<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="location" content="{{ location }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='solaris/images/solaris_fav.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">

    <title>Solaris</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='solaris/css/style_header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='solaris/css/style_main.css') }}">
</head>
<body>

<header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="logo" src="{{ url_for('static', filename='solaris/images/solaris_logo_white.png') }}">

                    <span id="links">
                            <div class="position-relative">
                                <a id="home-link-nv" class="unmarked-nv navlink nv-active" href="home">home</a>
                                <a id="second-link-nv" class="unmarked-nv navlink" href="glassmorphism">glassmorphism</a>
                                <button id="designs-btn" class="unmarked-nv dropdown-btn">UI designs</button>
                                <button id="effects-btn" class="unmarked-nv dropdown-btn">UI effects</button>
                                <button id="more-btn" class="unmarked-nv dropdown-btn">More</button>
                            </div>

                            <span id="ui-designs" class="menus-dropdown mn-dr-hidden d-none">
                                <a class="navlink navlink-d" href="glassmorphism">glassmorphism</a>
                                <a class="navlink navlink-d" href="flat-ui">flat UI</a>
                                <a class="navlink navlink-d" href="big-typography">big typography</a>
                            </span>

                            <span id="ui-effects" class="menus-dropdown mn-dr-hidden d-none">
                                <a class="navlink navlink-d" href="loading">loading</a>
                                <a class="navlink navlink-d" href="neon-buttons">neon buttons</a>
                                <a class="navlink navlink-d" href="neon-text">neon text</a>
                            </span>

                            <span id="more" class="menus-dropdown mn-dr-hidden d-none">
                                <a class="navlink navlink-d" href="light-music">light music</a>
                                <a class="navlink navlink-d" href="lightsaber">lightsaber</a>
                                <a class="navlink navlink-d" href="website-showcase">showcase</a>
                            </span>
                    </span>

                    <span class="url-control">
                        <button id="copy-link">Copy link to this page</button>
                        <button id="update-url">Update the active url</button>
                    </span>
                </div>
            </div>
        </div>
    </nav>
</header>


<div id="main-cont">
    <main class="h-100">

        <span class="blur"></span>

        <div>
            <span class="circle-left"></span>
            <span class="circle-right"></span>
            <span class="rect-glass-1"></span>
            <span class="rect-glass-2"></span>
            <span class="circle-glass"></span>
            <div class="square-glass"></div>
        </div>

        <div class="container h-100">
            <div class="row h-100">
                <div class="col-6 d-flex align-items-center">
                    <div>
                        <h1 class="title">Solaris</h1>
                        <p class="p-text-home">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac sodales sapien. Aliquam
                            erat volutpat. Cras ut nunc tortor. Ut luctus justo dui, et accumsan ipsum viverra nec.
                            Fusce et lorem felis. Curabitur nec porta purus. Mauris sit amet placerat magna. Maecenas at
                            eleifend arcu, et efficitur lorem. Pellentesque id dui tincidunt, volutpat quam dictum,
                            pulvinar quam. Maecenas aliquam magna ut odio pretium porttitor.
                        </p>
                    </div>
                </div>
                <div class="col-6">

                </div>
            </div>
        </div>
    </main>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='solaris/javascript/supervisor.js') }}"></script>
<script src="{{ url_for('static', filename='solaris/javascript/navbar.js') }}"></script>
</body>
</html>